#avatar {
  display: flex;
  justify-content: center;
}

#avatar .linkAvatar {
  width: auto;
}

#avatar p {
  display: inline;
  margin-right: 2em;
}

#avatar .linkAvatar img {
  max-width: 100px;
  object-fit: cover;
  margin: 0;
}