.listaJuegos .generos {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content ,140px));
  gap: 0.5em;
  justify-content: center;

  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
}

/* Aplico estilo a todos los generos */
.listaJuegos .genero {
  height: 140px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.listaJuegos .genero {
  cursor: pointer;
}
.listaJuegos .genero p {
  color: #fff;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

/* Aplicamos estilo al juego seleccionado*/
.listaJuegos .seleccionado {
  background-color: rgba(0, 0, 0, 0) !important;
}


/* Aplico estilo a cada genero por particular */
.listaJuegos .generos .estrategia {
  /* background-image: url('./../../assets/img/juegos/listaJuegos/generoEstrategia.svg'); */
  background-image: url('./../../assets/img/juegos/generos/generoEstrategia.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

.listaJuegos .generos .shootEmUp {
  background-image: url('./../../assets/img/juegos/generos/generoShootEmUp.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

.listaJuegos .generos .shooter {
  background-image: url('./../../assets/img/juegos/generos/generoShooter.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

.listaJuegos .generos .plataformas {
  background-image: url('./../../assets/img/juegos/generos/generoPlataformas.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

.listaJuegos .generos .rpg {
  background-image: url('./../../assets/img/juegos/generos/generoRpg.svg');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

.listaJuegos .generos .deportes {
  background-image: url('./../../assets/img/juegos/generos/generoDeportes.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

.listaJuegos .generos .lucha {
  background-image: url('./../../assets/img/juegos/generos/generoLucha.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

.listaJuegos .generos .todos {
  background-image: url('./../../assets/img/juegos/generos/generoTodos.svg');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
}

@media screen and (min-width: 365px) {
  .listaJuegos .generos {
    grid-template-columns: repeat(2, minmax(min-content ,170px));
  }
  
  .listaJuegos .genero {
    height: 170px;
  }  
}

@media screen and (min-width: 576px){
  .listaJuegos .generos {
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(2, 170px);
  }
}

@media screen and (min-width: 768px) {
  .listaJuegos .generos {
    grid-template-columns: repeat(4, 170px);
  }
}

@media screen and (min-width: 1500px) {
  .listaJuegos .generos {
    grid-template-columns: repeat(8, 170px);
    grid-template-rows: none;
  }

}