/***************************
 * ListaJuegos
***************************/
/* MARGEN PARA QUE NO SE SUPERPONGA CON EL NAVBAR */
#favoritos .listaJuegos .favoritosTitulo {
  margin-top: 40em !important;
  margin-bottom: 3em !important;
  text-align: center;
} 
/* TITULO */
#favoritos .listaJuegos .favoritosTitulo h2 {
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}

@media screen and (min-width: 576px) {
  #favoritos .listaJuegos .favoritosTitulo {
    margin-top: 35em !important;
  } 
  #favoritos .listaJuegos .favoritosTitulo h2 {
    font-size: 4em;
  }
} 
@media screen and (min-width: 992px) {
  #favoritos .listaJuegos .favoritosTitulo {
    margin-top: 20em !important;
  } 
}

#favoritos .listaJuegos .filtros {
  padding: 10em 0 !important;
}


#favoritos .listaJuegos .filtros {
  background-color: #fff;
  padding: 10em 0 !important;
  user-select: none;
}

#favoritos .listaJuegos .filtros .titulo h3 {
  color: #181818;
  font-weight: 600;
  font-size: 2.25em;
}

/* lista de juegos */

#favoritos .listaJuegos .lista {
  padding: 0 3em !important;
  margin: 5em 0 !important;
}



#favoritos .sinFavoritos {
  color: #fff;
  margin-top: 10em !important;
}