/* MARGEN PARA QUE NO SE SUPERPONGA CON EL NAVBAR */
#perfil .titulo {
  margin-top: 40em !important;
} 
@media screen and (min-width: 576px) {
  #perfil .titulo {
    margin-top: 35em !important;
  } 
} 
@media screen and (min-width: 992px) {
  #perfil .titulo {
    margin-top: 20em !important;
  } 
}

#perfil .perfilParteArriba {
  margin-bottom: 3em !important;
}

/******************************/
/* Botones */

#botonesPerfil {
  min-height: 6em;
  padding: 0 1em !important;
}

#botonesPerfil .boton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: #ffffff1c;
  border: none;
  font-weight: 700;
  font-size: 0.75em;
  color: #fff;
  padding: 1.3em 0;
}

#borrarCuentaButton {
  background-color: #E13D3D !important;
}

#subirJuegoButton span {
  margin-right: 0.75em;
}